<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="modal-content">
    <h2 id="movieTitle"></h2>
    <img id="moviePoster" alt="Poster" />
    <p><strong>Genre:</strong> <span id="movieGenre"></span></p>
    <p><strong>Director:</strong> <span id="movieDirector"></span></p>
    <p><strong>Cast:</strong> <span id="movieCast"></span></p>
    <p id="moviePlot"></p>
</div>
</body>>
</html>